.logo-image{
    height:80px;
    width: 80px;
}

.leftnav{
    display: flex;
    align-items: center;
    
}
.rightnav{
    display:flex;
    gap:4px;

}
.navbar{
    display:flex;
    align-items: center;
   /* justify-content: space-between;*/
}